#app {
  background: #1b1b26;
  font-family: 'Poppins', sans-serif;
}

#dashboard,
#user-profile,
#projects,
#team,
#taskboard,
#task-detail,
#customers,
#location,
#footer,
#timeline,
#faqs
 {
  position: relative;
  margin-left: 7rem;
  margin-top: 1.5rem;
}

main.v-content{
  padding-left: 0 !important;
}

/* ChipInputs */
#combobox .tag-input .v-input__control div.v-input__slot {
  background: transparent !important;
  padding: 0;
}
/* #1d8cf8 */
#combobox .tag-input .v-chip {
  background-color: #e14eca;
  color: #fff !important;
}

#combobox .tag-input input,
#combobox .tag-input label {
  color: #bdbdbd !important;
  font-size: 14px !important;
}

/* Upload btn */
.upload-btn label {
  margin: 0 !important;
}

.blue-gradient {
  background: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
  background-size: 210% 210%;
}

.purple-gradient {
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
}

.orange-gradient {
  background: linear-gradient(to bottom left, #ffed13, #ff817a, #e80ede);
  background-size: 210% 210%;
}

.card-content {
  background: #27293d !important;
}

button.accounts.active {
  background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  color: #fff;
}

.v-input--checkbox i.theme--light.v-icon {
  color: #7b7b7b;
}

.custom-checkbox .v-input__slot {
  margin-bottom: 0 !important;
}

.v-input__icon--prepend-inner {
  margin-right: 5px !important;
}

.white-color {
  color: rgba(255, 255, 255, 0.8);
}

.purple-border:focus {
  border-color: #e14eca !important;
}

.green-border:focus {
  border-color: #00bf9a !important;
}

.hover:hover {
  color: #fff !important;
}

.heading-4 {
  font-size: 18px;
}

.subtitle-1 {
  font-size: 15px !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.button-translate:hover {
  transform: translateY(-3px);
}

.button-translate:active {
  transform: translateY(0);
}

.button-rounded {
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease;
}

.link:hover {
  color: #e14eca !important;
}

.router-link-active {
  color: inherit;
}

.overflow-hidden {
  overflow: hidden;
}

.click {
  cursor: pointer;
}

/* Chart Styles */
line,
text {
  stroke: #67676759;
  margin-bottom: 5px;
}

.apexcharts-tooltip-title {
  color: #333;
  font-weight: 600;
}
.apexcharts-tooltip-text-label,
.apexcharts-tooltip-text-value,
.apexcharts-menu-item {
  color: #333;
}

#main-chart .apexcharts-toolbar {
  z-index: 3 !important;
}

.fade-enter-active {
  animation: slidePageIn 1s forwards;
  /* animation-timing-function: cubic-bezier(.8, -0.49, .36, 1); */
}

.fade-leave-active {
  animation: slidePageDown 1s forwards;
  /* animation-timing-function: cubic-bezier(.8, -0.49, .36, 1); */
}

@keyframes slidePageIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slidePageDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media (max-width: 958px) {
  #dashboard,
  #user-profile,
  #projects,
  #team,
  #taskboard,
  #task-detail,
  #customers,
  #location,
  #footer,
  #timeline,
  #faqs
 {
  margin-left: 0;
 }
}

@media (max-width: 600px) {
  #lock {
    padding-top: 4rem;
  }

  /* ShoppingTable component */
  #shopping-table h4 {
    font-size: 18px;
  }
  #shopping-table .pr-5 {
    padding-right: 15px !important;
  }

  /* Location component */
  #contact-us img {
    top: 0 !important;
  }

  /* Timeline component */
  #timeline .v-timeline-item {
    display: -webkit-box !important;
  }

  #timeline .v-timeline-item__dot, #timeline .v-timeline:before {
    display: none !important;
  }

  /* Faq component */
  #faqs .faq-buttons {
    display: block !important;
  }
}